<footer>
    <h4>
        <a target="_blank" rel="noopener noreferrer" class="contact" href="https://www.linkedin.com/pub/{{ site.linkedin_username }}">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a target="_blank" rel="noopener noreferrer" class="contact" href="https://www.threads.com/@{{ site.threads_username }}">
            <i class="fa-brands fa-threads"></i>
        </a>
        <a class="contact" target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github_username }}">
            <i class="fa-brands fa-github"></i>
        </a>
    </h4>
</footer>
