<footer>
    <h4 style="font-size:xx-large">
        <a target="blank" class="contact" href="https://www.linkedin.com/pub/{{ site.linkedin_username }}" style="padding-right:.5em">
            <i class="fa fa-linkedin-square"></i>
        </a>
        <a target="blank" class="contact"  href="https://twitter.com/{{ site.twitter_username }}" style="padding-right:.5em;padding-left:.5em">
            <i class="fa fa-twitter-square"></i></a>
        <a class="contact"  target="blank" href="https://github.com/{{ site.github_username }}" style="padding-left:.5em">
            <i class="fa fa-github-square"></i>
        </a>
    </h4>
</footer>
