<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Additional Meta Tags -->
  <meta name="author" content="Carlos Xavier Hernández">
  <meta name="keywords" content="machine learning, neural interfaces, EMG signal processing, deep learning, PyTorch, TensorFlow, Python, data science, brain-computer interface, wearable technology, Meta Reality Labs, research scientist, AI, artificial intelligence">
  <meta name="theme-color" content="#000000">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">
  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" sizes="any">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

  <!-- Open Graph -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ "/static/images/profile.jpg" | absolute_url }}">
  <meta property="og:image:width" content="400">
  <meta property="og:image:height" content="400">
  <meta property="og:locale" content="en_US">

  <!-- Threads/Social Card (uses Twitter Card format for compatibility) -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ "/static/images/profile.jpg" | absolute_url }}">

  <!-- JSON-LD Person Schema -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Carlos Xavier Hernández",
    "image": "https://www.cxhernandez.com/static/images/profile.jpg",
    "description": "Senior Research Scientist at Meta Reality Labs specializing in machine learning, neural interfaces, and EMG signal processing. PhD from Stanford University.",
    "jobTitle": "Senior Research Scientist",
    "worksFor": {
      "@type": "Organization",
      "name": "Meta Reality Labs"
    },
    "url": "https://www.cxhernandez.com",
    "email": "cxh@meta.com",
    "sameAs": [
      "https://github.com/cxhernandez",
      "https://linkedin.com/in/cxhernandez",
      "https://www.threads.net/@cxhrndz",
      "https://scholar.google.com/citations?user=6j85aJMAAAAJ"
    ],
    "alumniOf": [
      {
        "@type": "CollegeOrUniversity",
        "name": "Stanford University"
      },
      {
        "@type": "CollegeOrUniversity",
        "name": "Columbia University"
      }
    ],
    "knowsAbout": [
      "Machine Learning",
      "Neural Interfaces",
      "EMG Signal Processing",
      "Deep Learning",
      "PyTorch",
      "TensorFlow",
      "Python",
      "Data Science",
      "Brain-Computer Interfaces",
      "Human-Computer Interaction",
      "Wearable Technology"
    ]
  }
  </script>

  <!-- JSON-LD ScholarlyArticle Schema for Key Publications -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ScholarlyArticle",
        "headline": "A generic non-invasive neuromotor interface for human-computer interaction",
        "author": [
          {
            "@type": "Person",
            "name": "P Kaifosh"
          },
          {
            "@type": "Person",
            "name": "TR Reardon"
          },
          {
            "@type": "Organization",
            "name": "CTRL-labs"
          }
        ],
        "datePublished": "2025",
        "publisher": {
          "@type": "Organization",
          "name": "Nature"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:ML0RJ9NH7IQC"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "MDTraj: a modern, open library for the analysis of molecular dynamics trajectories",
        "author": [
          {
            "@type": "Person",
            "name": "RT McGibbon"
          },
          {
            "@type": "Person",
            "name": "KA Beauchamp"
          },
          {
            "@type": "Person",
            "name": "MP Harrigan"
          },
          {
            "@type": "Person",
            "name": "C Klein"
          },
          {
            "@type": "Person",
            "name": "JM Swails"
          }
        ],
        "datePublished": "2015",
        "publisher": {
          "@type": "Organization",
          "name": "Biophysical Journal"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:W7OEmFMy1HYC",
        "citation": "2485 citations"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "MSMBuilder: statistical models for biomolecular dynamics",
        "author": [
          {
            "@type": "Person",
            "name": "MP Harrigan"
          },
          {
            "@type": "Person",
            "name": "MM Sultan"
          },
          {
            "@type": "Person",
            "name": "CX Hernández"
          },
          {
            "@type": "Person",
            "name": "BE Husic"
          },
          {
            "@type": "Person",
            "name": "P Eastman"
          }
        ],
        "datePublished": "2017",
        "publisher": {
          "@type": "Organization",
          "name": "Biophysical Journal"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:Mojj43d5GZwC",
        "citation": "307 citations"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "Markov state models provide insights into dynamic modulation of protein function",
        "author": [
          {
            "@type": "Person",
            "name": "D Shukla"
          },
          {
            "@type": "Person",
            "name": "CX Hernández"
          },
          {
            "@type": "Person",
            "name": "JK Weber"
          },
          {
            "@type": "Person",
            "name": "VS Pande"
          }
        ],
        "datePublished": "2015",
        "publisher": {
          "@type": "Organization",
          "name": "Accounts of Chemical Research"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:qjMakFHDy7sC",
        "citation": "295 citations"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "Variational encoding of complex dynamics",
        "author": [
          {
            "@type": "Person",
            "name": "CX Hernández"
          },
          {
            "@type": "Person",
            "name": "HK Wayment-Steele"
          },
          {
            "@type": "Person",
            "name": "MM Sultan"
          },
          {
            "@type": "Person",
            "name": "BE Husic"
          },
          {
            "@type": "Person",
            "name": "VS Pande"
          }
        ],
        "datePublished": "2018",
        "publisher": {
          "@type": "Organization",
          "name": "Physical Review E"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:dQ2og3OwTAUC",
        "citation": "208 citations"
      }
    ]
  }
  </script>

  <!-- Main consolidated stylesheet -->
  <link rel="stylesheet" href="{{ "/static/css/site.css" | prepend: site.baseurl }}">

  <!-- CDN stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css"
        integrity="sha512-c7jR/kCnu09ZrAKsWXsI/x9HCO9kkpHw4Ftqhofqs+I2hNxalK5RGwo/IAhW3iqCHIw55wBSSCFlm8JP0sw2Zw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css"
        integrity="sha512-x+vC0j+HUSNNpnx/YPZbThIb63lqLDMyJ9aPt2fEhQJCwu8Cc9cDC5FgqCPg/+5tHy43NjfnXOOBgw6Y8a9h7Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"
        integrity="sha384-Y1dT0Uuxf1LKAAtjATjgHKnaXjkDtr56b3BqHza7MvRRo+HuooP6gRKN4wIog9CV"
        crossorigin="anonymous">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ stylesheet }}" media="all">
    {% endfor %}
  {% endif %}

  <!-- Core libraries from CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"
          integrity="sha512-YH+W9Bct4y75HQBQM82a3raHY/MZzZgdPM3MnX7UoJHipavTJdw7gGmZqkZr7oNfU/6V1gXCl31SQ4HoirVYHQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/jquery.flexslider-min.js"
          integrity="sha512-xQHM8hLfp8JA1FT1jU/g6OyT1+wkjILFf2Z2C2LE7n2qSeaEX1pX6OMmMYPcZ0OkSvvVr3IkZgNrGvK6zs6gQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"
          integrity="sha384-ShqaqoNf8jU7jX5t0rRB92xkhkJ2JmaO+w0CRy8038lVvRk/dkV/V0YlJ6ApAFnX"
          crossorigin="anonymous"></script>
  <script src="{{ "/static/js/jquery.parallax-1.1.3.js" | prepend: site.baseurl }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
          integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSzTA0n6e4HEaZ5qX/t6Bw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"
          integrity="sha512-DHNepwZqDa7X1ExtrA7MROS2t6m3cNUBlHmpgXwbu4RlK5TEEPFFfAT4WiKPOkYYy+w8sTuPDHIPwVqZwMxjog=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="{{ "/static/js/jquery.viewport.min.js" | prepend: site.baseurl }}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/1.5.26/jquery.isotope.min.js"
          integrity="sha512-DaV0LVb1GfbErcVmVGjVvnBfqBbd4dgg4bNotXxl9u1s4joYqrEjNqBNlZDugOLTuzZw4jgmMylVbQOKQyULpg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bbq/1.2.1/jquery.ba-bbq.min.js"
          integrity="sha512-GFCE97TdHbXFuFT3MDpDrFF6VdWWkvU7Yeo4r5CPezMxAKxYmT0tMNhWNqKxU+7kN5BZjYKZMI/QvdqoM9lnkA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"
          integrity="sha512-28e27hL89a99BmzVDzuL59APJjkMozM2mWK7OGUAJ+BdTtN21HodMiT5DZ3DVF1jLNrpF+fjZ+hlK9MvGcdZOA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js"
          integrity="sha512-+pRLTKRzh1LITYecxBpTnShhVXZkWMnH18C4VqFKuBTjt2G21HCNjz64dL0D5fS4xX/dX5BZDYEE+Z/V+v1x7w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="{{ "/static/js/main.js" | prepend: site.baseurl }}" defer></script>
  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' defer></script>
    {% endfor %}
  {% endif %}

  {% include tracking.md %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
  <![endif]-->

  <!-- conditional IE styles -->
  <!--[if IE]>
  <link rel="stylesheet" href="{{ "/css/ie.css" | prepend: site.baseurl }}">
  <![endif]-->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
