<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Additional Meta Tags -->
  <meta name="author" content="Carlos Xavier Hernández">
  <meta name="keywords" content="machine learning, neural interfaces, EMG signal processing, deep learning, PyTorch, TensorFlow, Python, data science, brain-computer interface, wearable technology, Meta Reality Labs, research scientist, AI, artificial intelligence">
  <meta name="theme-color" content="#000000">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ "/favicon.png" | prepend: site.baseurl }}">
  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" sizes="any">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">

  <!-- Open Graph -->
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ "/static/images/profile.jpg" | absolute_url }}">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="750">
  <meta property="og:locale" content="en_US">

  <!-- Threads/Social Card (uses Twitter Card format for compatibility) -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ "/static/images/profile.jpg" | absolute_url }}">

  <!-- JSON-LD Person Schema -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Carlos Xavier Hernández",
    "image": "https://www.cxhernandez.com/static/images/profile.jpg",
    "description": "Senior Research Scientist at Meta Reality Labs specializing in machine learning, neural interfaces, and EMG signal processing. PhD from Stanford University.",
    "jobTitle": "Senior Research Scientist",
    "worksFor": {
      "@type": "Organization",
      "name": "Meta Reality Labs"
    },
    "url": "https://www.cxhernandez.com",
    "email": "cxh@meta.com",
    "sameAs": [
      "https://github.com/cxhernandez",
      "https://linkedin.com/in/cxhernandez",
      "https://www.threads.net/@cxhrndz",
      "https://scholar.google.com/citations?user=6j85aJMAAAAJ"
    ],
    "alumniOf": [
      {
        "@type": "CollegeOrUniversity",
        "name": "Stanford University"
      },
      {
        "@type": "CollegeOrUniversity",
        "name": "Columbia University"
      }
    ],
    "knowsAbout": [
      "Machine Learning",
      "Neural Interfaces",
      "EMG Signal Processing",
      "Deep Learning",
      "PyTorch",
      "TensorFlow",
      "Python",
      "Data Science",
      "Brain-Computer Interfaces",
      "Human-Computer Interaction",
      "Wearable Technology"
    ]
  }
  </script>

  <!-- JSON-LD ScholarlyArticle Schema for Key Publications -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {
        "@type": "ScholarlyArticle",
        "headline": "A generic non-invasive neuromotor interface for human-computer interaction",
        "author": [
          {
            "@type": "Person",
            "name": "P Kaifosh"
          },
          {
            "@type": "Person",
            "name": "TR Reardon"
          },
          {
            "@type": "Organization",
            "name": "CTRL-labs"
          }
        ],
        "datePublished": "2025",
        "publisher": {
          "@type": "Organization",
          "name": "Nature"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:ML0RJ9NH7IQC"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "MDTraj: a modern, open library for the analysis of molecular dynamics trajectories",
        "author": [
          {
            "@type": "Person",
            "name": "RT McGibbon"
          },
          {
            "@type": "Person",
            "name": "KA Beauchamp"
          },
          {
            "@type": "Person",
            "name": "MP Harrigan"
          },
          {
            "@type": "Person",
            "name": "C Klein"
          },
          {
            "@type": "Person",
            "name": "JM Swails"
          }
        ],
        "datePublished": "2015",
        "publisher": {
          "@type": "Organization",
          "name": "Biophysical Journal"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:W7OEmFMy1HYC",
        "citation": "2485 citations"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "MSMBuilder: statistical models for biomolecular dynamics",
        "author": [
          {
            "@type": "Person",
            "name": "MP Harrigan"
          },
          {
            "@type": "Person",
            "name": "MM Sultan"
          },
          {
            "@type": "Person",
            "name": "CX Hernández"
          },
          {
            "@type": "Person",
            "name": "BE Husic"
          },
          {
            "@type": "Person",
            "name": "P Eastman"
          }
        ],
        "datePublished": "2017",
        "publisher": {
          "@type": "Organization",
          "name": "Biophysical Journal"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:Mojj43d5GZwC",
        "citation": "307 citations"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "Markov state models provide insights into dynamic modulation of protein function",
        "author": [
          {
            "@type": "Person",
            "name": "D Shukla"
          },
          {
            "@type": "Person",
            "name": "CX Hernández"
          },
          {
            "@type": "Person",
            "name": "JK Weber"
          },
          {
            "@type": "Person",
            "name": "VS Pande"
          }
        ],
        "datePublished": "2015",
        "publisher": {
          "@type": "Organization",
          "name": "Accounts of Chemical Research"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:qjMakFHDy7sC",
        "citation": "295 citations"
      },
      {
        "@type": "ScholarlyArticle",
        "headline": "Variational encoding of complex dynamics",
        "author": [
          {
            "@type": "Person",
            "name": "CX Hernández"
          },
          {
            "@type": "Person",
            "name": "HK Wayment-Steele"
          },
          {
            "@type": "Person",
            "name": "MM Sultan"
          },
          {
            "@type": "Person",
            "name": "BE Husic"
          },
          {
            "@type": "Person",
            "name": "VS Pande"
          }
        ],
        "datePublished": "2018",
        "publisher": {
          "@type": "Organization",
          "name": "Physical Review E"
        },
        "url": "https://scholar.google.com/citations?view_op=view_citation&hl=en&user=6j85aJMAAAAJ&citation_for_view=6j85aJMAAAAJ:dQ2og3OwTAUC",
        "citation": "208 citations"
      }
    ]
  }
  </script>

  <!-- Main consolidated stylesheet -->
  <link rel="stylesheet" href="{{ "/static/css/site.css" | prepend: site.baseurl }}">

  <!-- CDN stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css"
        integrity="sha512-M5Kq4YVQrjg5c2wsZSn27Dkfm/2ALfxmun0vUE3mPiJyK53hQBHYCVAtvMYEC7ZXmYLg8DVG4tF8gD27WmDbsg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/brands.min.css"
        integrity="sha512-WxpJXPm/Is1a/dzEdhdaoajpgizHQimaLGL/QqUIAjIihlQqlPQb1V9vkGs9+VzXD7rgI6O+UsSKl4u5K36Ydw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css"
        integrity="sha512-c7jR/kCnu09ZrAKsWXsI/x9HCO9kkpHw4Ftqhofqs+I2hNxalK5RGwo/IAhW3iqCHIw55wBSSCFlm8JP0sw2Zw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"
        integrity="sha512-Ts9gRa45mzzcGVbNsOspFGlAPMUKqXB57gOQuVmAa730p+2slqVKt16ppCGk4s7n13RujHYsYIci+v/3CocFkQ=="
        crossorigin="anonymous">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
  <link rel="stylesheet" href="{{ stylesheet }}" media="all">
    {% endfor %}
  {% endif %}

  <!-- Core libraries from CDN -->
  <!-- jQuery 3.7.1 - modern version with TypeScript support -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
          integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.1/jquery.flexslider-min.js"
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"
          integrity="sha512-pnWM1cDe9hVIpcIOVa5NknC4YJOR3WkrzW/Scqkpe6IWskQWtfvOszrAUroboUTDKMfRXBJFbmdjQC66hpZXvw=="
          crossorigin="anonymous"></script>
  <!-- Parallax script removed - not used (no background images) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <!-- Isotope and BBQ removed - not used on site (no IsotopeContainer elements) -->
  <!-- Bootstrap 3.4.1 - last stable Bootstrap 3.x, compatible with jQuery 3.x -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"
          integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <!-- Bootbox 5.5.3 - compatible with Bootstrap 3.x -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.3/bootbox.min.js"
          integrity="sha512-U3Q2T60uOxOgtAmm9VEtC3SKGt9ucRbvZ+U3ac/wtvNC+K21Id2dNHzRUC7Z4Rs6dzqgXKr+pCRxx5CyOsnUzg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="{{ "/static/js/dist/main.bundle.js" | prepend: site.baseurl }}?v={{ site.time | date: '%s' }}" defer></script>
  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
  <script src='{{ js_file }}' defer></script>
    {% endfor %}
  {% endif %}

  {% include tracking.md %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
  <![endif]-->

  <!-- conditional IE styles -->
  <!--[if IE]>
  <link rel="stylesheet" href="{{ "/css/ie.css" | prepend: site.baseurl }}">
  <![endif]-->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
