<header id="MainHeader" class="main-header parallax">
    <div class="container">
        <section class="row-fluid">
            <div class="span10 offset1">
                <div class="name-container">
                    <h1 class="name-header">
                        <span class="name-line"><span class="initial-box">C</span>arlos</span>
                        <span class="name-line"><span class="initial-box">X</span>avier</span>
                        <span class="name-line"><span class="initial-box">H</span>ernández</span>
                    </h1>
                </div>
            </div>
        </section>
    </div>
</header>
