<nav id="MainNav" class="navbar sticky">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <!-- This button toggles visibility of menu on mobile devices -->
            </button>
            <a class="brand" href="{{ site.url }}"><img src="{{ "/static/images/logo-small.png" | prepend: site.baseurl }}" alt="CXH"></a>

            <div class="nav-collapse collapse">
                <ul class="nav nav-pills">
                    <li class=""><h1 class="post-title">Tutorials :: {{ page.title }}</h1></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
