<section id="Publications" class="parallax">
    <div class="container">
        <h2 style="color:white !important">
            Publications
        </h2>

        <div class="row-fluid">
            <div class="blog-big-list">
                <ul class="latest-posts span12">
		    <li class="row-fluid">
                    {% markdown publications.md %}
                    <script>
                        $(document).ready(function(){
                                $('.dataframe').DataTable();
                            });
                    </script>
                    </li>
            </ul>
        </div>
	</div>
</div>
	<section id="Press">
		<div class="container">
        <h2 style="color:white !important">
            Press
        </h2>
        <div class="row-fluid">
            <div class="blog-big-list">
                <ul class="latest-posts span12">
                    <li class="row-fluid">
                    {% markdown press.md %}
                   </li>
                </ul>
            </div>
        </div>
</div>
	</section>
</section>
