<section id="Publications" class="parallax">
    <div class="section-header-rotate">
        <h2>Publications</h2>
    </div>
    <div class="container">
        <div class="row-fluid">
            <div class="blog-big-list">
                <ul class="latest-posts span12">
		    <li class="row-fluid">
                    {% markdown publications.md %}
                    <script>
                        $(document).ready(function(){
                                $('.dataframe').DataTable({
                                    pageLength: 5,
                                    lengthChange: false,
                                    dom: 'rtfip',
                                    language: {
                                        search: "",
                                        searchPlaceholder: "Search"
                                    }
                                });
                            });
                    </script>
                    </li>
            </ul>
        </div>
	</div>
</div>
</section>
