<section id="Research" class="parallax" style="background-image: url(http://www.wallpaperup.com/uploads/wallpapers/2013/02/20/42404/4e0288924865ee2619c37819fc467210.jpg); background-position: 20% 49px;padding-top:0 !important">
    <section class="section-emphasis" style="margin-top: 0% !important">
            <div class="container">
                <h2 style="color:white !important">
                     Research
                </h2>
                <div class="row-fluid">
                    <a id="evo" href="#Research" onclick="showBlurb(this)">
                    <div class="span4 icon-box">
                        <h4><i class="fa fa-code-fork"></i>Protein Evolution</h4>
                                            <p class="huge" style="text-align:left;padding:.5em">
                                            {{ site.protein_evolution }}
                                            </p>
                    </div>
                                    </a>
                            <a id="md" href="#Research" onclick="showBlurb(this)">
                    <div class="span4 icon-box">
                        <h4><i class="fa fa-desktop"></i>Molecular Dynamics</h4>
                                            <p class="huge" style="text-align:left;padding:.5em">
                                            {{ site.molecular_dynamics }}
                                            </p>
                    </div>
                                    </a>
                            <a id="msm" href="#Research" onclick="showBlurb(this)">
                    <div class="span4 icon-box">
                        <h4><i class="fa fa-cogs"></i>Markov State Models</h4>
                                            <p class="huge" style="text-align:left;padding:.5em">
                                            {{ site.msm }}
                                            </p>
                    </div>
                            </a>
                </div>
            </div>
    </section>
</section>

