<section id="Photography" class="parallax">
    <section class="section-emphasis-2">
            <div class="container">
                <h2 style="color:white !important">
                     Research
                </h2>
                <div class="row-fluid">
                    <a id="evo" href="#Research" onclick="showBlurb(this)">
                    <div class="span4 icon-box">
                        <h4><i class="fa fa-code-fork"></i>Protein Evolution</h4>
                                            <p class="huge" style="text-align:left;padding:.5em">
                                            {{ site.protein_evolution }}
                                            </p>
                    </div>
                                    </a>
                            <a id="md" href="#Research" onclick="showBlurb(this)">
                    <div class="span4 icon-box">
                        <h4><i class="fa fa-desktop"></i>Molecular Dynamics</h4>
                                            <p class="huge" style="text-align:left;padding:.5em">
                                            {{ site.molecular_dynamics }}
                                            </p>
                    </div>
                                    </a>
                            <a id="msm" href="#Research" onclick="showBlurb(this)">
                    <div class="span4 icon-box">
                        <h4><i class="fa fa-cogs"></i>Markov State Models</h4>
                                            <p class="huge" style="text-align:left;padding:.5em">
                                            {{ site.msm }}
                                            </p>
                    </div>
                            </a>
                </div>
            </div>
            {% include hidden.html %}
    </section>
</section>
