<section id="Software" class="parallax">
  <div class="section-header-rotate">
      <h2>Software</h2>
  </div>
  <section class="section-emphasis-2">
  <div class="container">
        <br/><br/><br/><br/>
            <div class="software-grid">
                <a href="https://www.github.com/msmbuilder/msmbuilder" class="software-card">
                    <img alt="MSMBuilder - Statistical models for biomolecular dynamics" src="https://raw.githubusercontent.com/msmbuilder/msmbuilder/refs/heads/master/docs/_static/logo.png" class="software-card-image">
                    <div class="software-card-body">
                        <p class="software-card-name">MSMBuilder</p>
                        <p class="software-card-description">Statistical models for biomolecular dynamics</p>
                    </div>
                </a>

                <a href="https://www.github.com/msmbuilder/msmexplorer" class="software-card">
                    <img alt="MSMExplorer - Data visualizations for biomolecular dynamics" src="https://raw.githubusercontent.com/msmbuilder/msmexplorer/refs/heads/master/docs/_static/msmexplorer_notext.svg" class="software-card-image">
                    <div class="software-card-body">
                        <p class="software-card-name">MSMExplorer</p>
                        <p class="software-card-description">Data visualizations for biomolecular dynamics</p>
                    </div>
                </a>

                <a href="https://www.github.com/msmbuilder/osprey" class="software-card">
                    <img alt="Osprey - Hyperparameter optimization made easy" src="https://raw.githubusercontent.com/msmbuilder/osprey/refs/heads/master/docs/_static/osprey.svg" class="software-card-image">
                    <div class="software-card-body">
                        <p class="software-card-name">Osprey</p>
                        <p class="software-card-description">Hyperparameter optimization made easy</p>
                    </div>
                </a>
            </div>
        </div>
  </section>
</section>
