<section id="Software" class="parallax">
  <section class="section-emphasis-2">
  <div class="container">
        <h2 style="color:white !important">
            Software
        </h2>
        <br/><br/><br/><br/>
            <div class="row-fluid">
                <a  href="http://msmbuilder.org/">
                    <div class="span4 icon-box">
                        <br/><h4>MSMBuilder</h4><br/>
                        <h4>Statistical models for biomolecular dynamics</h4>
                        <img alt="MSMB" src="http://msmbuilder.org/3.8.0/_static/logo.png" style="height: 120px; object-fit: contain;">
                    </div>
                </a>

                <a  href="http://msmbuilder.org/msmexplorer/">
                    <div class="span4 icon-box">
                        <br/><h4>MSMExplorer</h4><br/>
                        <h4>Data visualizations for biomolecular dynamics</h4>
                        <img alt="MSME" src="http://msmbuilder.org/msmexplorer/1.1.0/_static/msmexplorer_notext.svg" style="height: 120px; object-fit: contain;">
                    </div>
                </a>

                <a  href="http://msmbuilder.org/osprey/">
                    <div class="span4 icon-box">
                        <br/><h4>Osprey</h4><br/>
                        <h4>Hyperparameter optimization made easy</h4>
                        <img alt="osprey" src="http://msmbuilder.org/osprey/1.1.0/_static/osprey.svg" style="height: 120px; object-fit: contain;">
                    </div>
                </a>
            </div>
        </div>
  </section>
</section>
