<section id="Software" class="parallax">
  <section class="section-emphasis-2">
  <div class="container">
        <h2 style="color:white !important">
            Software
        </h2>
        <br/><br/><br/><br/>
            <div class="row-fluid">
                <a  href="http://msmbuilder.org/">
                    <div class="span4 icon-box">
                        <br/><h4>MSMBuilder</h4><br/>
                        <h4>Statistical models for biomolecular dynamics</h4>
                        <img alt="MSMB"  src="http://msmbuilder.org/3.8.0/_static/logo.png">
                    </div>
                </a>

                <a  href="http://msmbuilder.org/msmexplorer/">
                    <div class="span4 icon-box">
                        <br/><h4>MSMExplorer</h4><br/>
                        <h4>Data visualizations for biomolecular dynamics</h4>
                        <img alt="MSME"  src="http://msmbuilder.org/msmexplorer/1.1.0/_static/msmexplorer_notext.svg">
                    </div>
                </a>

                <a  href="http://msmbuilder.org/osprey/">
                    <div class="span4 icon-box">
                        <br/><h4>Osprey</h4><br/>
                        <h4>Hyperparameter optimization made easy</h4>
                        <img alt="osprey""  src="https://camo.githubusercontent.com/10c440e813ce5283cbf17910c4e3804b1ccd4d74/687474703a2f2f6d736d6275696c6465722e6f72672f6f73707265792f646576656c6f706d656e742f5f7374617469632f6f73707265792e737667">
                    </div>
                </a>
            </div>
        </div>
  </section>
</section>
