html { padding-top: 0 !important; }

.theme-qtip-custom {
    max-width: 400px;
    padding: 7px 7px 11px 7px ;
    border: 0;
    width: 400px;
    height: 200px;
    background: #4D4D4D url(./images/loader.gif) no-repeat center center;
}

.theme-qtip-custom .qtip-content {
    padding: 0;
}

.qtip .qtip-tip {
    display: none !important;
}

.icon-box {
	padding:5px;
	border-radius:8px;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.icon-box:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: .5;
    transition: none;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}
.bootbox { width: 80% !important; left: 0 !important; margin-left: 10% !important;height : 80% !important; display: inline-block !important; float: left !important; }
.bootbox-body{ height : 95% !important; width : 95% !important; margin-bottom:0; }
a.contact {
	color: gray;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
a.contact:hover{
	color: black;
    transition: none;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
div.modal-dialog,div.modal-content,div.modal-body{
	height:100%;
}

h3 {
 font-size: 1.1em;
 color: white;
 text-align: center !important;
 padding: 0em !important;
 margin: 0em !important;
}

header#MainHeader.main-header.parallax {
  background-image: url(../images/background.png);
  background-position: 20% 0px;
  /*background-size: auto 100%;*/
}

section#Photography.parallax {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/2000px-Color_icon_green.svg.png);
  background-position: 20% 49px;
  padding-top:0 !important
}

section#Blog.parallax {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/2000px-Color_icon_blue.svg.png);
  background-position: 20% 49px;
  padding-top:0 !important
}

section#Software.parallax {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/2000px-Color_icon_blue.svg.png);
  background-position: 20% 49px;
  padding-top:0 !important
}

section#Publications.parallax {
  background-image: url(../images/clark.jpg);
  background-position: 20% -70px;
}

section.section-emphasis, section.section-emphasis-2 {
  min-height: 450px;
  margin-top: 0% !important;
}

section#Press p {
  text-align: center;
}

div.span4.icon-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

div.span4.icon-box {
  margin-bottom:4em;
}

div.profile-container {
  min-width:150px;
  max-width:300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid white;
}

div.profile-image {
  background: url(../images/profile.jpg);
  background-position: 50% 0;
  background-size: 300px 300px;
  padding-bottom:300px;
  background-repeat: no-repeat;
}

section#Photography.parallax h2 {
  padding-bottom: 1.5em;
}

section#Software {
  padding-top: 0em;
}

#instafeed a img {
  padding: 1px;
  border: 1px solid #f6f6f6;
  background-color:#fcfcfc;
}

#instafeed a img {
  padding: 1px;
  border: 1px solid #f6f6f6;
  background-color:#fcfcfc;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

#instafeed a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
