html { padding-top: 0 !important; }

.theme-qtip-custom {
    max-width: 400px;
    padding: 7px 7px 11px 7px ;
    border: 0;
    width: 400px;
    height: 200px;
    background: #4D4D4D url(./images/loader.gif) no-repeat center center;
}

.theme-qtip-custom .qtip-content {
    padding: 0;
}

.qtip .qtip-tip {
    display: none !important;
}

.icon-box {
	padding:5px;
	border-radius:8px;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.icon-box:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: .5;
    transition: none;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}
.bootbox { width: 80% !important; left: 0 !important; margin-left: 10% !important;height : 80% !important; display: inline-block !important; float: left !important; }
.bootbox-body{ height : 95% !important; width : 95% !important; margin-bottom:0; }
a.contact {
	color: gray;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
a.contact:hover{
	color: black;
    transition: none;
    -o-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
div.modal-dialog,div.modal-content,div.modal-body{
	height:100%;
}

h3 {
 font-size: 1.1em;
 color: white;
 text-align: center !important;
 padding: 0em !important;
 margin: 0em !important;
}

header#MainHeader.main-header.parallax {
  background-image: url(../images/background.png);
  background-position: 20% 0px;
  /*background-size: auto 100%;*/
}

section#Photography.parallax {
  background-image: url(https://images.unsplash.com/photo-1500051638674-ff996a0ec29e?w=1920&q=80);
  background-position: center center;
  background-size: cover;
}

section#Blog.parallax {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/2000px-Color_icon_blue.svg.png);
  background-position: 20% 49px;
  padding-top:0 !important
}

section#Software.parallax {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Color_icon_blue.svg/2000px-Color_icon_blue.svg.png);
  background-position: 20% 49px;
  padding-top:0 !important
}

section#Publications.parallax {
  background-image: url(../images/publications-bg.jpg);
  background-position: 20% -70px;
}

section.section-emphasis, section.section-emphasis-2 {
  min-height: 450px;
  margin-top: 0% !important;
}

section#Press p {
  text-align: center;
}

section#Publications .dataframe tbody td:first-of-type,
section#Publications .dataframe tbody td:first-of-type a {
  font-weight: bold !important;
  color: white !important;
}

section#Publications .dataframe tbody td:first-of-type a:hover {
  color: red !important;
}

div.span4.icon-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

div.span4.icon-box {
  margin-bottom:4em;
}

div.profile-container {
  min-width:150px;
  max-width:300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid white;
}

div.profile-image {
  background: url(../images/profile.jpg);
  background-position: 50% 0;
  background-size: 300px 300px;
  padding-bottom:300px;
  background-repeat: no-repeat;
}

section#Photography.parallax h2 {
  padding-bottom: 1.5em;
}

section#Software {
  padding-top: 0em;
}

#instafeed a img {
  padding: 1px;
  border: 1px solid #f6f6f6;
  background-color:#fcfcfc;
}

#instafeed a img {
  padding: 1px;
  border: 1px solid #f6f6f6;
  background-color:#fcfcfc;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

#instafeed a img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* Photography Carousel Styles */
.photo-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 50px;
}

.carousel-container {
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease;
}

.carousel-slide a:hover {
  transform: scale(1.02);
}

.carousel-slide img {
  max-width: 100%;
  max-height: 500px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  display: block;
  margin: 0 auto;
}

.carousel-slide .instagram-media {
  margin: 0 auto !important;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-btn:hover {
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.carousel-dot.active {
  background: white;
  transform: scale(1.2);
}

.carousel-dot:hover {
  background: rgba(255, 255, 255, 0.8);
}
