# This project uses conda for dependency management.
# See environment.yml for the full list of dependencies.
#
# To set up the environment:
#   conda env create -f environment.yml
#   conda activate cv_pdf
pandas
beautifulsoup4
html5lib
markdown
fpdf2
